{% extends 'base.html' %}

{% block title %} Change password Done {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3" ></div>
      <div class="col-sm-6" >
        <div class="panel panel-primary">
            <div class="panel-heading">Change password</div>
            <div class="panel-body">
                <p> Dear {{user.username}} your password changed succesurl</p>
            </div>
          </div>
      </div>
      <div class="col-sm-3" ></div>
    </div>
  </div>

{% endblock %}