{% extends 'base.html' %}

{% block title %} Email Sent {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3" ></div>
      <div class="col-sm-6" >
        <div class="panel panel-primary">
            <div class="panel-heading">Email Sent</div>
            <div class="panel-body">
                <p> We sent you an email go and check it</p>
            </div>
          </div>
      </div>
      <div class="col-sm-3" ></div>
    </div>
  </div>

{% endblock %}